html,body {
	height:				100%;
}

h1 {
	text-align:			center;
	padding-top:		10px;
}

.userbox-wrapper {
	height:				60%;
	max-width:			1000px;
	margin:				auto auto;
	overflow:			hidden;
}

.userbox {
	border:				1px solid black;
	height:				100px;
	width:				100px;
	float:				left;
	margin:				1px;
	background-size:	cover;
}

.tweet-text {
	max-width:			1000px;
	margin:				auto auto;
	opacity:			1;
	text-align:			center;
	font-size:			2em;
	margin-top:			20px;
	line-height:		1.5em;
}

.form {
	text-align:			center;
}

.developed-by {
	text-align:			center;
	margin-bottom:		10px;
}